a
{
	text-decoration: none;
}

body
{
	background-color: #89774e;
}

#fondo1
{
	background-image: url(../images/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	position:absolute;
	width: 1773px;
}

#fondo2
{
	background-image: url(../images/bg2.png);
	background-repeat: no-repeat;
	height: 487px;
	position:absolute;
	width: 1773px;
}

#fondo3
{
	background-image: url(../images/bg3.png);
	background-repeat: no-repeat;
	height: 650px;
	position:absolute;
	width: 1773px;
}

#header
{
	height: 640px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.bmenu{
    margin: 0 0 10px 0;
    padding: 0px;
    position: absolute;
}
.bmenu li{
    display: block;
    font-size: 50px;
}
.bmenu li a{
	color: black;
	display: block;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0px 0px 6px #fff;
	text-transform: uppercase;
	white-space: nowrap;
	-moz-transform: scale(0.5); 
	-ms-transform: scale(0.5); 
	-o-transform: scale(0.5); 
	-webkit-transform: scale(0.5); 
	transform: scale(0.5); 
	-webkit-transition: all 0.6s linear;
	-moz-transition: all 0.6s linear;
	-o-transition: all 0.6s linear;
	-ms-transition: all 0.6s linear;
	transition: all 0.6s linear;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 15px #fff;
}
.bmenu li a:hover{
	text-shadow: 0px 0px 1px #fff;
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	-webkit-transform: scale(1); 
	transform: scale(1); 
}
.footer
{
	background-color: #89774e;
	color: black;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: 0px 0px 6px #fff;
}