.menu {
  background-color: rgba(0, 0, 0, .2);
  display: table;
  margin: 0;
  padding: 0;
  position: fixed;
  table-layout: fixed;
  width: 100%;
  z-index: 10;
}
.itemMenu {
	display: table-cell;
	text-align: center;
    margin: 0;
    vertical-align: middle;
}
.itemMenu-block{
	color: white;
    display: block;
	padding: 1em;
	text-decoration: none;
	font-family: 'Marcellus SC', serif;
	font-size: 1.5em;
	transition: all 0.5s ease;

}
.itemMenu-block:hover{
	background-color: rgba(0, 0, 0, .5);

}
.header-background{
	background-image: url(../img/header.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	
}


.header {
  height: 65vh;
  padding: 15em 5em 0 5em;
}


.socialIcons{
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
}

.socialIcons--items{
	display: inline;
	vertical-align: middle;
}


.socialIcons--img{
	height: 50px;
	padding: 1em;
	-webkit-filter: drop-shadow(0px 0px 15px rgba(0,0,0,.8));
    -moz-filter: drop-shadow(0px 0px 15px rgba(0,0,0,.8));
    -ms-filter: drop-shadow(0px 0px 15px rgba(0,0,0,.8));
    -o-filter: drop-shadow(0px 0px 15px rgba(0,0,0,.8));
    filter: drop-shadow(0px 0px 15px rgba(0,0,0,.8));
    transition: all 0.5s ease;
}

.socialIcons--img:hover{
	height: 60px;
	
}


.content {
  display: table;
	
}

.web{
	background-color: #E5D8FF;
	padding-top: 5em;
	
		
}
.marketing{
	background-color: #3C48E8;
	padding-top: 5em;
	
}
.security{
	background-color: #DEFF84;
	padding-top: 5em;
	
}
.titulo{
	margin: 0;
	padding: 1em .5em;
	text-align: center;
	font-family: 'Marcellus SC', serif;
	font-size: 1.5em;
}
.web-img{
	display: inline-block;
	padding: 1em 2em;
	text-align: center;
	vertical-align: middle;
	width: 40%;
	
	
}
.web-texto{
	display: inline-block;
	padding: 2em 0;
	text-align: justify;
	vertical-align: top;
	width: 48%;
	font-family: 'Marcellus', serif;
	font-size: 1.2em
}

.marketing-img{
	display: inline-block;
	padding: 1em 2em;
	text-align: center;
	vertical-align: middle;
	width: 40%;
}
.marketing-texto{
	width: 48%;
	text-align: justify;
	display: inline-block;
	vertical-align: top;
	padding: 2em 0 2em 1em;
	font-family: 'Marcellus', serif;
	font-size: 1.2em;
	color: white;
}

.sec-img{
	display: inline-block;
	padding: 1em 2em;
	text-align: center;
	vertical-align: middle;
	width: 40%;
}
.sec-texto{
	width: 48%;
	text-align: justify;
	display: inline-block;
	vertical-align: top;
	padding: 2em 0;
	font-family: 'Marcellus', serif;
	font-size: 1.2em
}

.contacto{
 width: 70%;
 padding: 0 15% 2em;
 font-family: 'Marcellus', serif;
 background-image: url("../img/contacto.jpg");
 color: white;
 font-size: 2em;
 text-align: center;
}
 .links a{
 	text-decoration: none;
 	color: white;
 }
  .links a:visited{
 	text-decoration: none;
 	
 }
 .links a:hover{
 	text-decoration: underline;
 }

.footer{
	background-color: #FF4D5E;
	text-align: center;
	padding: 2em;
	color: white;
	font-family: 'Marcellus', serif;

}
@media screen and (max-width:768px){
	.itemMenu-block{
		font-size: 1em;
	}
	.socialIcons--img{
		height: 30px;
		padding: .8em;
	}
	.web, .marketing, .security{
		padding-top: 2.5em;
		text-align: center;
	}
	.web-img, .marketing-img, .sec-img{
		display: none;
	}
	.web-texto, .marketing-texto, .sec-texto{
		font-size: 1em;
		padding: 0 1em 1em 1em;
		width: 70%;
	}
	.contacto{
		width: 70%;
		padding: 0 15% 2em;
		font-size: 1em;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> 7e0355dc37b72ac6f9d00a563221f67f59bfa21b
