body {
	background-color: #335384;
	color: #ffffff;
	font-family: 'Marcellus', serif;
}
.header {
	background-image: url(../img/victoriasamotraciapixel.png);
	background-color: #335384;
	background-blend-mode: soft-light;
	background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}
.home {
  height: 65vh;
  padding: 15em 5em 0 5em;
}
.menu {
	background-color: rgba(0, 0, 0, .2);
	display: table;
	margin: 0;
	padding: 0;
	position: fixed;
	table-layout: fixed;
	width: 100%;
	z-index: 10;
}
.menu--item {
	display: table-cell;
	text-align: center;
	margin: 0;
	vertical-align: middle;
}
.menu--item--block{
	color: white;
	font-family: 'Marcellus SC', serif;
	font-size: 1.5em;
	padding: 1em;
	text-decoration: none;
	transition: all 0.5s ease;
    display: block;
}
.menu--item--block:hover{
	background-color: rgba(0, 0, 0, .5);
}

.active{
	background-color: rgba(0, 0, 0, .5);
}
.name {
	color: white;
	font-family: 'Marcellus SC', serif;
	font-size: 2em;
	padding-top: 1em;
	font-weight: bold;
	text-align: center;
}
.description {
	color: #ffffff;
	font-family: 'Marcellus SC', serif;
	font-size: 1em;
	text-align: center;
}
.socialicons {
	margin: 0;
	padding: 0;
	padding-bottom: 2em;
	position: relative;
	text-align: center;
}
.socialicons--items{
	display: inline;
	vertical-align: middle;
}
.socialicons--img {
	height: 15px;
	border-radius: .5em;
	background-color: #ffffff36;
	padding: .5em;
	-webkit-filter: invert(100%);
	-webkit-transition: all 0.3s;
}
.socialicons--img:hover {
	-webkit-filter: none;
}
.email {
	height: 5em;
	border-radius: .5em;
}
.projects, .about {
	padding: 2.5em;
}
.projects {
	border-top: 8px solid #ffffff36;
}
.projects article {
	border-bottom: 1px solid #ffffff;
	padding: 2em 0;
}
.projects article:nth-last-of-type(1){
	border-bottom:none;
}
.contact {
	padding: 2em;
}

h2{
	font-size: 2em;
	text-decoration: underline;
}
.title {
	font-family: 'Marcellus SC', serif;
	margin: 0;
	padding: 1em .5em;
	text-align: center;
	letter-spacing: 0.1em;
}
.image {
	display: inline-block;
	padding: 1em 2em;
	text-align: center;
	vertical-align: middle;
	width: 25%;
	border-radius: 10%;
}
.image:hover {
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
.imgAbout {
	display: inline-block;
	padding: 0em 5em;
	text-align: center;
	vertical-align: middle;
	
}
.imgAbout:hover {
	-webkit-transform: rotate(-2deg);
	transform: rotate(-deg);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
.text {
	display: inline-block;
	font-family: 'Marcellus', serif;
	vertical-align: top;
	width: 65%;
}
.text:nth-child(odd){
	text-align:right;
}
.text p a{
	color: #fff;
}

.text--projects, .text--contact, .text--about{
	font-size: 1.2em;
}
.text--about {
	padding-left: 2em;
}
.contact {
	background-color: #335384;
	text-align: center;
}
.links {
	color: rgb(75, 110, 141);
	text-decoration: none;
}
.links:visited{
	text-decoration: none;
}
.links:hover{
	text-decoration: underline;
}
.footer {
	background-color: #335384;
	color: #ffffff;
	font-family: 'Marcellus', serif;
	padding: 2em;
	text-align: center;
}

/*Tags*/
.tags {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.tag {
	background: #eee;
	border-radius: 5px;
	display: inline-block;
	height: 26px;
	color: #000;
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0 10px 10px 0;
	text-decoration: none;
	-webkit-transition: color 0.2s;
	cursor: pointer;
	
}

.tag::before {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	content: '';
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 10px;
}

	

.tag:hover {
	background-color: #ffffff36;
	color: white;
}



/*
Botón de subir
*/

.ir-arriba {
	display:none;
	padding:20px;
	background:rgba(0, 0, 0, .2);
	font-size:20px;
	color:white;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
.ir-arriba:hover{
	background:rgba(0, 0, 0, .5);
}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-r0z2mh');
	src:url('../fonts/icomoon.eot?#iefix-r0z2mh') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-r0z2mh') format('woff'),
		url('../fonts/icomoon.ttf?-r0z2mh') format('truetype'),
		url('../fonts/icomoon.svg?-r0z2mh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chevron-up:before {
    content: "\e600";
}

@media screen and (max-width:768px){
	.menu--item--block{
		font-size: .9em;
	}
	.socialicons--img{
		/*height: 30px;
		padding: .8em;*/
	}
	.projects{
		padding-top: 2.5em;
		text-align: center;
	}
	.image, .imgAbout{
		display: none;
	}
	.text--projects, .text--contact{
		font-size: 1em;
		padding: 0 1em 1em 1em;
		width: 70%;
	}
	.text:nth-child(odd) {
		text-align: unset;
	}
	.contact{
		padding: 0 15% 2em;
		width: 70%;
	}
	.contact--image{
		margin-bottom: 0;
	}
}
